@import url(https://elevate-ui.vercel.app/components/components.css);

a {
  text-decoration: none;
  color: inherit;
}

.card {
  margin: 0;
}

.card-title {
  filter: drop-shadow(4px 6px 4px var(--text-color900));
}

.full-height {
  height: 100vh;
}

.header {
  grid-area: header;
}

.link {
  color: -webkit-link;
  text-decoration: underline;
}

.landing-page {
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "header"
    "title"
    "main";
}

.landing-page > .main,
.options {
  gap: 2rem;
}

.main {
  grid-area: main;
}

div.modal.modal {
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;  
  height: fit-content;
}
.quiz-page > .main {
  visibility: hidden;
}

.page-center {
  width: 70%;
  margin: 0 auto;
}

.rounded-circle {
  border-radius: 999px;
}

.skip {
  text-align: end;
}

.title {
  grid-area: title;
}

.question {
  border-bottom: 1px solid var(--text-color100);
}

.quiz-page,
.result-page {
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "header"
    "title"
    "main";
}

.result-page .btn {
  cursor: no-drop;
}

.score {
  color: var(--dark-green);
}

.result-page > .main {
  gap: 5rem;
  overflow-y: auto;
  border-top: 1px solid var(--text-color100);
}


.result-page > .main::-webkit-scrollbar {
  width: 0;
}